<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" th:href="@{/invoice-style.css}" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <h1>
        <a class="navbar-brand" th:href="@{/}">PASAR ITHB</a>
      </h1>
      <h1>You just buy:</h1>
      <div id="company" class="clearfix">
        <div>Pasar ITHB</div>
        <div>Jl. Dipati Ukur 80-84<br /> Bandung 40226, ID</div>
        <div>022 250 6636</div>
      </div>
      <div id="project">
        <div><span>INVOICE ID</span> </div>
        <div><span>USERNAME</span> John Doe</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="desc">DESCRIPTION</th>
            <th>PRICE</th>
            <th>QTY</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
			<td class="desc">Creating a recognizable design solution based on the company's existing visual identity</td>
            <td class="unit">$40.00</td>
            <td class="qty">26</td>
            <td class="total"/>
          </tr>
          <tr>
            <td colspan="4" class="grand total">GRAND TOTAL</td>
            <td class="grand total"/>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>